$bgColor: rgb(177, 46, 46)

body{
    background-color: $bgColor;
    >header{
        border: 2px dashed red;

        nav{
            border: 2px dashed $bgColor;
        }
            .hamburger{
                border: 2px dashed green;
            }
        }
    }
