body{
    background-color: antiquewhite;
    >header{
        border: 2px dashed red;

        nav{
            border: 2px dashed blue;
        }
            .hamburger{
                border: 2px dashed green;
            }
        }
    }
